.location-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}